accelerate==1.0.0
datasets==3.0.1
deepspeed==0.15.2
evaluate==0.4.3
GPUtil==1.4.0
numpy==2.1.2
psutil==6.0.0
requests==2.32.3
sacrebleu==2.4.3
tokenizers==0.20.0
torch==2.4.1
tqdm==4.66.5
transformer_engine==1.11.0
transformer_engine_cu12==1.11.0
transformers==4.45.2
wandb==0.18.3
xformers==0.0.28.post1
